@import "../../styles/variables.scss";

.footer {
  background: $background-gradient-blue;
  padding: 2em 0;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(sd) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &__item {
    color: $ligh;
    font-size: 1em;
    @include breakpoint(sd) {
      padding: 5px 0;
    }
  }

  &_item_logo {
    font-size: 1.5em;
  }

}

.container {
  max-width: $container-max-width;
  margin: 0 auto;

  @media (max-width: 1180px) {
    max-width: 95%;
  }

  @include breakpoint(sd) {
    padding: 5px 0;
  }
}