@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$Montserrat: 'Montserrat', sans-serif;

$dark: #1A1A1A;
$ligh: #FFFFFF;

$container-max-width: 1180px;/* 1180px */

$body-background-light: #fff;
$background-gradient-blue: linear-gradient(90.95deg, #255D8B 2.29%, #3A80BA 96.79%);;

@mixin breakpoint($point) {
  @if $point == sd {
    // >768px
    @media (max-width: 48em) {
        @content;
    }
  }
  @if $point == md {
      // 768px
      @media (min-width: 48em) {
          @content;
      }
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}